<h1 class='text-center'>Listing Albums</h1>

<%= will_paginate @albums, renderer: BootstrapPagination::Rails %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= sortable 'title' %></th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td>
        <% if album.photos.count > 0 %>
        <%= image_tag("/assets/images/#{album.photos.first.photo_file_name}", size: "50x50") %>
        <% end %>
        <%= album.title %></td>
        <td><%= album.description %></td>
        <td><%= album.user.name %></td>
        <td><%= link_to 'Show', album, :class => 'btn btn-default' %></td>
        <% if current_user && current_user.id == album.user_id %>
          <td><%= link_to 'Edit', edit_album_path(album), :class => 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', album, method: :delete, :class => 'btn btn-default' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path, :class => 'btn btn-default' if current_user %>
