<div class='row'>
	<div class='col-md-5 col-md-offset-3'>
		<h2><%= @album.title %></h2>
	</div>
</div>

<div class='row'>
	<div class='col-md-3 col-md-offset-3'>
		created of: <%= @album.user.name %>
	</div>
</div>

<div class='row'>
	<div class='col-md-10'><%= @album.description %></div>
</div>
<br>

<% @album.photos.each do |photo| %>
  <%= link_to image_tag("/assets/images/#{photo.photo_file_name}", size: "150x150"), {action: 'image', controller: 'albums', params: {id: @album.id, photo_id: photo.id}} %>
<% end %>

<br>
<br>
<% @album.comments.each do |comment| %>
	<span style='color:green'><%= comment.user.name %></span>
	<%= comment.created_at %>
	<div class="thumbnail">
		<%= comment.description.html_safe %>
	</div>
<% end %>

<% if current_user %>
	<%= form_for(Comment.new) do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :album_id, :value => @album.id %>

	  <div class="field">
	    <%= f.label :description %><br>
	    <%= f.cktext_area :description  %>
	  </div>

	  <div class="actions">
	    <%= f.submit 'Submit', name: 'from_albums', :class => 'btn btn-default' %>
	  </div>
	<% end %>
<% end %>

<br>
<br>
<%= link_to 'Back', albums_path, :class => 'btn btn-default' %>
