<p id="notice"><%= notice %></p>

<div class='row'>
	<div class='col-md-5 col-md-offset-3'>
		<h2><%= @album.title %></h2>
	</div>
</div>

<div class='row'>
	<div class='col-md-3 col-md-offset-3'>
		created of: <%= @album.user.name %>
	</div>
</div>

<div class='row'>
	<div class='col-md-10'><%= @album.description %></div>
</div>
<br>

<% @album.photos.each do |photo| %>
  <%= image_tag "#{photo.photo_file_name}", size: "150x150" %>
<% end %>

<br>
<br>
<%= link_to 'Back', albums_path, :class => 'btn btn-default' %>
